<p>
    London is one of the world’s most important global cities, with an estimated population of 8,900,000 people. Its almost 2000 years of history has seen many periods of increased criminal activity, which became one of the elements of nowadays’ popular culture (vide Sherlock Holmes, Jack the Ripper, Taboo, Hooligans, Gangs of London, etc.). However, the current situation may also be considered as highly undesirable, for example, the number of murders significantly increased in the recent years attracting attention and serious concerns of city residents.
</p>
<p>
    The problem we would like to address, using visualization and machine learning tools, is increasing criminality in the city of London and effective, long term measures to mitigate it.
</p>
<p>
    Our objective is to provide a reliable analytical solution which could help authorities of the city of London to reduce law violation levels. In particular, we would like to:
</p>
<ol>
    <li>
        Analyze crime rates on neighborhood (Lower Layer Super Output Area (LSOA)) level in Greater London
    </li>
    <li>
        Build a model to find an association between crime rates and tree canopy cover
    </li>
    <li>
        Create analytical tool for London landscape planners aiming to decrease crime rates
    </li>
</ol>
<p>
    Importantly, our analysis will be done, for the first time, on the neighborhood level - the average population of an LSOA in London in 2010 was only ca. 2000 inhabitants and London is split in more than 4000 area units like this.
</p>
